<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Session-7, Assignment-2</h1>
        <br><br>
          <div class="table-resposive">
              <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>SR#</th>
                          <th>Continent Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Using ngFor to loop through array values -->
                      <tr *ngFor="let myVal of myArray">
                        <!-- Displaying values using interpolation -->
                        
                        <!-- Displaying index value using interpolation -->
                          <td>
                            {{myVal.id}}
                          </td>
                        
                        <!-- Displaying continent using interpolation -->
                          <td>
                              {{myVal.continent}}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>
